@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 84 48% 96%;
    --foreground: 240 10% 3.9%;
    --card: 84 48% 99%;
    --card-foreground: 240 10% 3.9%;
    --popover: 84 48% 99%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 88 50% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 84 30% 90%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 84 30% 90%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 88 39% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 84 20% 85%;
    --input: 84 20% 88%;
    --ring: 88 50% 56%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 88 15% 10%;
    --foreground: 84 30% 90%;
    --card: 88 15% 12%;
    --card-foreground: 84 30% 90%;
    --popover: 88 15% 10%;
    --popover-foreground: 84 30% 90%;
    --primary: 88 50% 56%;
    --primary-foreground: 88 20% 15%;
    --secondary: 88 15% 20%;
    --secondary-foreground: 84 30% 90%;
    --muted: 88 15% 20%;
    --muted-foreground: 84 20% 70%;
    --accent: 88 39% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 88 15% 25%;
    --input: 88 15% 25%;
    --ring: 88 50% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
